/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}


/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.container {
	display: grid;
	grid-template-columns: 245px 245px 245px 245px;
	grid-template-rows: auto;
	grid-template-areas:
		". header header ."
		". main main ."
		". footer footer .";
	justify-content: center;
	justify-items: center;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	/*margin: 2em auto;
	max-width: 630px;
	text-align: center; */
}

.header {
	margin-top: 20px;
	grid-area: header;
	justify-self: stretch;
	padding: 30px 60px;
	background-color: #424242;
	border-radius: .4em;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	line-height: 1.4;
	font-size: 15px;
}

.main {
	grid-area: main;
	border: 2px solid #eaeaea;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
}

.progress {
	height: 20px;
	position: relative;
	background: #EF5F3C;
	width: 75%;
	border: 2px solid #eaeaea;
}

.input {
	margin-right: 30px;
	text-align: left;
	background-color: #ffffff;
	border-radius: .4em;
	padding: 20px;
	border: 2px solid #eaeaea;
	font-size: 25px;
	width: 40%;
}

.first {
	margin-left: 30px;
	background-color: #1CBC2C;
	border-radius: .4em;
	padding: 20px;
	border: 4px solid #eaeaea;
	font-size: 25px;
	color: #ffffff;
	width: 40%;
}

.footer {
	grid-area: footer;
	justify-self: stretch;
	align-self: center;
}

.second {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	border-radius: .4em;
	padding: 10px 30px;
	border: 2px solid #eaeaea;
	font-size: 20px;
	color: #424242;
	background: #ffffff;
	font-weight: bold;
	box-shadow: 1px 3px outset;
	width: 45%;
}

#margin {
	margin-left: 45px;
}

.content {
	margin: 10px 20px;
	color: #777;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 30px;
}

a {
	line-height: 1.4;
	font-style: italic;
	color: #20A1D4;
	font-size: 25px;
	text-decoration: none;
}

h2 {
	font-size: 25px;
	color: #eaeaea;
	text-align: center;
}