/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}


/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.container {
	display: grid;
	grid-template-columns: 245px 245px 245px 245px;
	grid-template-rows: auto;
	grid-template-areas:
		". header header ."
		". main main ."
		". money money ."
		". link . ."
		". footer footer .";
	justify-content: center;
	justify-items: center;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	/*margin: 2em auto;
	max-width: 630px;
	text-align: center; */
}

.header {
	grid-area: header;
	padding: 30px 60px;
	background-color: #424242;
	border-radius: .4em;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	line-height: 1.4;
	font-size: 15px;
}

.main {
	grid-area: main;
	border: 2px solid #eaeaea;
	border-top: 20px solid #ef5f3c;
}

.money {
	grid-area: money;
	border-radius: .4em;
	padding: 20px;
	border: 2px solid #eaeaea;
	font-size: 20px;
}

.first {
	grid-area: money;
	background-color: #1CBC2C;
	border-radius: .4em;
	padding: 20px;
	border: 2px solid #eaeaea;
	font-size: 20px;
	color: #ffffff;
}

.footer {
	grid-area: footer;
}

.second {
	border-radius: .4em;
	padding: 15px;
	border: 2px solid #eaeaea;
	font-size: 20px;
	color: #777;
	background: #ffffff;
}

a {
	grid-area: link;
	font-style: italic;
	color: #20A1D4;
	font-size: 20px;
	text-decoration: none;
}

h2 {
	color: #ffffff;
}

p.content {
	justify-self: center;
	color: #777;
	line-height: 1.4;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 20px;
}

